/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2015, 2:13:03 PM
    Author     : iliso_000
*/

.grid{
    -fx-background-color: #D358F7;
}

.root{
    -fx-background-color: #BDBDBD;
}